In [1]:
import pandas as pd

In [3]:
df = pd.read_csv("world_economics.csv")

In [5]:
df.shape

(173, 19)

In [7]:
df.head()

,name,currency,capital,languages,latitude,longitude,area,region,subregion,borders,GDP,GDP Growth,Interest Rate,Inflation Rate,Jobless Rate,Gov. Budget,Debt/GDP,Current Account,Population
0,Tunisia,Tunisian dinar,Tunis,Arabic,34.000000,9.000000,163610.0,Africa,Northern Africa,"['DZA', 'LBY']",53,1.80,7.5,5.30,15.70,-6.6,79.8,-2.7,11.89
1,Vietnam,Vietnamese đồng,Hanoi,Vietnamese,16.166667,107.833333,331212.0,Asia,South-Eastern Asia,"['KHM', 'CHN', 'LAO']",476,6.88,4.5,3.19,2.24,-4.0,32.9,6.1,101.30
2,Ecuador,United States dollar,Quito,Spanish,-2.000000,-77.500000,276841.0,Americas,South America,"['COL', 'PER']",125,3.46,8.5,0.72,4.50,-1.9,50.6,2.8,17.97
3,Puerto Rico,United States dollar,San Juan,English,18.250000,-66.500000,8870.0,Americas,Caribbean,NaN,126,NaN,NaN,1.20,5.70,NaN,NaN,NaN,3.20
4,United States,United States dollar,"Washington, D.C.",English,38.000000,-97.000000,9372610.0,Americas,North America,"['CAN', 'MEX']",29185,3.00,4.5,2.70,4.20,-6.4,124.3,-3.9,341.15

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 173 entries, 0 to 172
Data columns (total 19 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   name             173 non-null    object
 1   currency         173 non-null    object
 2   capital          172 non-null    object
 3   languages        173 non-null    object
 4   latitude         173 non-null    float64
 5   longitude        173 non-null    float64
 6   area             173 non-null    float64
 7   region           173 non-null    object
 8   subregion        173 non-null    object
 9   borders          149 non-null    object
 10  GDP              173 non-null    int64
 11  GDP Growth       101 non-null    float64
 12  Interest Rate    162 non-null    float64
 13  Inflation Rate   172 non-null    float64
 14  Jobless Rate     171 non-null    float64
 15  Gov. Budget      166 non-null    float64
 16  Debt/GDP         165 non-null    float64
 17  Current Account  167 non-null    float64
 18  Population       173 non-null    float64
dtypes: float64(11), int64(1), object(7)
memory usage: 25.8+ KB

In [11]:
df.isnull().sum()

name                0
currency            0
capital             1
languages           0
latitude            0
longitude           0
area                0
region              0
subregion           0
borders            24
GDP                 0
GDP Growth         72
Interest Rate      11
Inflation Rate      1
Jobless Rate        2
Gov. Budget         7
Debt/GDP            8
Current Account     6
Population          0
dtype: int64

In [19]:
row = df[df["capital"].isna() | (df["capital"].str.strip() == "")].head(1)

In [21]:
print(row)

      name         currency capital   languages   latitude  longitude  area  \
166  Macau  Macanese pataca     NaN  Portuguese  22.166667     113.55  30.0

    region     subregion  borders  GDP  GDP Growth  Interest Rate  \
166   Asia  Eastern Asia  ['CHN']   50         NaN           4.75

     Inflation Rate  Jobless Rate  Gov. Budget  Debt/GDP  Current Account  \
166            0.12           1.9          NaN       NaN             31.4

     Population
166        0.69

In [25]:
row = df[df["Inflation Rate"].isna()].head(1)

In [27]:
print(row)

       name currency capital languages   latitude  longitude  area  region  \
116  Monaco     Euro  Monaco    French  43.733333        7.4  2.02  Europe

          subregion  borders  GDP  GDP Growth  Interest Rate  Inflation Rate  \
116  Western Europe  ['FRA']   10         NaN            NaN             NaN

     Jobless Rate  Gov. Budget  Debt/GDP  Current Account  Population
116           NaN          NaN       NaN              NaN        0.04

In [29]:
df = df.dropna(subset=['capital'])

In [31]:
row = df[df["capital"].isna() | (df["capital"].str.strip() == "")].head(1)

In [33]:
print(row)

Empty DataFrame
Columns: [name, currency, capital, languages, latitude, longitude, area, region, subregion, borders, GDP, GDP Growth, Interest Rate, Inflation Rate, Jobless Rate, Gov. Budget, Debt/GDP, Current Account, Population]
Index: []

In [35]:
df = df.dropna(subset=['Inflation Rate'])

In [37]:
row = df[df["Inflation Rate"].isna()].head(1)

In [39]:
print(row)

Empty DataFrame
Columns: [name, currency, capital, languages, latitude, longitude, area, region, subregion, borders, GDP, GDP Growth, Interest Rate, Inflation Rate, Jobless Rate, Gov. Budget, Debt/GDP, Current Account, Population]
Index: []

In [41]:
df.isnull().sum()

name                0
currency            0
capital             0
languages           0
latitude            0
longitude           0
area                0
region              0
subregion           0
borders            24
GDP                 0
GDP Growth         70
Interest Rate      10
Inflation Rate      0
Jobless Rate        1
Gov. Budget         5
Debt/GDP            6
Current Account     5
Population          0
dtype: int64

In [43]:
df.to_csv("world_eco_cleaned.csv")